.footer {
  display: flex;
  align-items: flex-end;
  padding: 32px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}

.input {
  padding: 8px;
  border-radius: 4px;
}

.button {
  margin-left: 18px;
}

.label {
  margin-bottom: 8px;
}

.unvalidated {
  border-color: red;
}
