.activity {
  padding: 16px 36px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.title {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.button {
  flex-grow: 0;
}

.wrapper:nth-child(odd) {
  background-color: #f7f7f7;
}

.removeIcon {
  margin: 0px 12px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
